<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to the index.php file (as long as the directory/file does not exist).
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?$1 [QSA,L]
</IfModule>